* {
  margin: 0;
  padding: 0;
}
/*
  Colors:
    #a06ef2 lilas
    #f94c85 salmao
    #1c1c1c preto
    #504e54 cinza
    #ffffff branco
*/
body {
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header {
  width: 80vw;
  height: 100px;
  background-image: linear-gradient(
    #504e54,
    #303030,
    #202020,
    #202020,
    #202020
  );
  color: #cacaca;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
}
header > nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}
header > nav > .settings,
.msg {
  font-size: 1.5em;
  width: 55px;
  height: 55px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.9) inset;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Archivo Black", sans-serif;
  min-width: 250px;
  border-radius: 10px;
  box-shadow: 3px 5px 10px rgba(80, 78, 84, 0.336);
  background-image: linear-gradient(
    to top left,
    #504e54,
    #303030,
    #292929,
    #242424,
    #202020
  );
  text-align: center;
  margin-left: 15px;
}
/*  início do hover*/
.icons {
  width: 70px;
  height: 70px;
  background-image: linear-gradient(
    to bottom right,
    #504e54,
    #303030,
    #292929,
    #242424,
    #202020
  );
  transition: width 1s, height 1s;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  left: 10vw;
  top: 10vw;
}

.icons:hover {
  width: 25vw;
  height: 60vh;
}

.logo {
  width: 50px;
  height: 50px;
  color: #cacaca;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.9) inset;
  font-size: 3em;
  margin: 10px;
  transition: width 1s, height 1s, transform 1s;
}
.logo:hover {
  width: 55px;
  height: 55px;
  transform: rotate(720deg);
  position: absolute;
  z-index: 1;
}

/*  início do aside */

.list-aside {
  position: absolute;
  min-width: 100px;
  color: #ffffff;
  margin: 100px 20px 0;
}
.list-aside > ul > li {
  list-style-type: none;
  margin: 35px 10px;
  font-size: 1.5em;
  padding: 10px;
}

.list-aside > ul > li:hover {
  background-color: #1c1c1c;
  border-radius: 5px;
  padding: 10px;
}

/*    Início da section   */
.content {
  width: 50vw;
  height: 60vh;
  background-image: linear-gradient(
    to bottom right,
    #504e54,
    #303030,
    #292929,
    #242424,
    #202020
  );
  position: absolute;
  right: 10vw;
  top: 10vw;
  border-radius: 15px;
  z-index: -1;
  display: flex;
  align-items: center;
  overflow: hidden;
}
/*    início do footer    */
footer {
  width: 80vw;
  height: 100px;
  background-image: linear-gradient(
    to bottom right,
    #504e54,
    #303030,
    #202020,
    #202020,
    #202020
  );
  border-radius: 10px 10px 0 0;
  position: absolute;
  bottom: 0;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
}
footer > h3 {
  margin-left: 5%;
  margin-bottom: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1000px) {
  header {
    height: 70px;
  }

  .content {
    width: 80vw;
    height: 80vh;
    top: 15vh;
    left: 10vw;
  }
  .icons {
    top: 20vh;
    left: 14vw;
  }
  .icons:hover {
    width: 250px;
  }
}

@media screen and (max-width: 750px) {
  header {
    display: none;
  }
  .content {
    width: 96vw;
    height: 96vh;
    top: 2vh;
    left: 2vw;
  }
  .icons {
    top: 5vh;
    left: 5vw;
  }
  .icons:hover {
    width: 250px;
  }
  footer {
    width: 92vw;
    bottom: 3vh;
    border-radius: 10px;
  }
}
